#emptyBasket, #validBasket, .supprimer{
    background-color:  #905cfa;
    border-radius: 15px;
    border-color: #f3e9f1;
    font-size: small;
}

#emptyBasket:hover, #validBasket:hover .supprimer:hover{
    color: #000;
}